*{
    border: red 2px dotted;
}

/**{
    background-color: #ffffff;
}*/
/* h1 span{
    color: orange;text-decoration: underline;
  }*/

div{
    background-color: #5f1919;
}*/
  h1{
    color: orange;text-decoration: underline;
  }
  p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  #parrafo2{
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  span{
    color: orchid;
    width: auto;
  }
  .centrado{
      text-align: center;
  }
  .negrita{
      font-weight: bold;
  }

  .parte{
    width: 33.3333333%;
    background-color:darkturquoise;
    display: flex;
    justify-content: center;
    text-align: justify;
    align-items: flex-start;
    padding: 10px;
    
}
*{
    padding: 0;
    margin: 0%;

}
img{
    width: 100%;
    height: auto;
}

*{
  padding: 0;
  margin: 0;

}
.contenedor{
  display: flex;
}

.menu{
  width: 20%;/*establesco el ancho del div*/
  background-color: #333333;
  display: flex;/*inicio que usare flex en el div menu*/
  flex-direction: column;/*ordeno los elementos en vertical*/
  padding-top:50px;/*Mueve los links 50px desde el borde superior*/
  padding-left: 30px;/*Mueve los links 30px desde el borde izquierdo*/
}
.menu >a{
  color: #ffffff;/*pongo los enlaces blacos*/
  text-decoration: none;/*le quito el subrayado a los textos*/
}

.contenido{
  width: 80%;
}

.contenido{
  width: 80;
}





  /*.izquierda{
      width: auto;
      background-color:darkslategray;
      text-align: justify;
      padding: 2%;
  }

  .centro{
    width: auto;
  }/*

